
<h1>Pirates List</h1>
{{!-- {{#if error}}
<h1>{{error}}</h1>
{{/if}} --}}
<ul>
    {{#each pirates}}
    <li>{{ pirates.name }}</li>
    <li>{{ pirates.birthplace }}</li>
    <li>{{ pirates.death_year }}</li>
    <li>{{ pirates.base }}</li>
    <li>{{ pirates.nickname }}</li>
    {{/each}}
</ul>
  <a href="/pirates">Back Home</a>


{{!-- <ul>
  {{#each pirates}}
    <li><a href="/pirates/{{@show}}"><h2>{{name}}</h2></a></li>
    <div><a href="/pirates/{{@index}}/edit">Edit</a></div>
    <form action="/pirates/{{@index}}?_method=DELETE" method="POST">
    <input type="submit" value="DELETE"/>
    </form>
  {{/each}}
</ul> --}}
