{{!-- <h1>Pirates list</h1>
<ul>
    <li>{{ pirates.name }}</li>
    <li>{{ pirates.birthplace }}</li>
    <li>{{ pirates.death_year }}</li>
    <li>{{ pirates.base }}</li>
    <li>{{ pirates.nickname }}</li>
</ul>
 --}}
<h1>Pirates List</h1>
{{#if error}}
<h1>{{error}}</h1>
{{/if}}
<ul>
    <li>{{ pirates.name }}</li>
    <li>{{ pirates.birthplace }}</li>
    <li>{{ pirates.death_year }}</li>
    <li>{{ pirates.base }}</li>
    <li>{{ pirates.nickname }}</li>
</ul>
