<h1>Pirates list</h1>
<ul>
    <li>{{ pirates.name }}</li>
    <li>{{ pirates.birthplace }}</li>
    <li>{{ pirates.death_year }}</li>
    <li>{{ pirates.base }}</li>
    <li>{{ pirates.nickname }}</li>
</ul>
