
<h1>Pirates List</h1>
{{!-- <ul>
    {{#each pirates}}
    <li>{{runpirate.name }}</li>
    <li>{{runpirate.birthplace }}</li>
    <li>{{runpirate.death_year }}</li>
    <li>{{runpirate.base}}</li>
    <li>{{runpirate.nickname }}</li>
    {{/each}}
</ul> --}}
  {{!-- {{#if error}}
    <h1>{{error}}</h1>
  {{/if}}
  <h1>{{runpirate.name}}</h1>
  <h1>{{runpirate.birthplace}}</h1>
  <h1>{{runpirate.death_year}}</h1>
  <h1>{{runpirate.base}}</h1>
  <h1>{{runpirate.nickname}}</h1> --}}
  <ul>
    {{#each server}}
    <li>Name: {{runpirate.name}}</li>
    <li>Birthplace: {{runpirate.birthplace}}</li>
    {{/each}}
  </ul>

  <a href="/pirates">Back Home</a>

  <h1>Edit {{runpirate.name}}</h1>
<hr>
<div class="row">
  <form action="/pirates/{{runpirate.id}}?_method=PUT" method="POST" class="col-md-6 col-md-offset-3">
  <form class="col-md-6 col-md-offset-3">
  {{runpirate.name}}
  {{runpirate.birthplace}}
  </form>
</div>